/* --dark-color: rgba(28, 32, 42, 1);
color: var(--dark-color); */

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  list-style: none;
  color: #fff;
  cursor: pointer;
}

body {
  --super-dark-color: rgba(24, 27, 36, 1);
  --dark-color: rgba(28, 32, 42, 1);
  font-family: 'Noto Sans SC', sans-serif;
  margin: 0;
  color: #333;
}

.h1, .h2, .h3, h1, h2, h3 {
  margin-top: 20px;
  margin-bottom: 10px
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.body-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}



.wrapper {
  width: 85%;
  align-content: center;
  margin: 0 auto;
}


















/* Menu */

header {
  text-transform: uppercase;
  background-color: rgba(28, 32, 42, 0);
  transition: 0.5s;
  z-index: 2;
  position: fixed;
  width: 100%;
  top: 0;
}

.main-Menu-wrapper{
  width: 90%;
  align-content: center;
  margin: 0 auto;
}

.menu-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 90px;
  align-items: center;
  font-family: 'Open Sans', sans-serif;

}

.scrolling {
  background-color: var(--super-dark-color);
  transition: 0.5s;
  z-index: 2;
}



/* Menu Logo */
.head_logo {
  width: auto;
  text-align: center;
  font-weight: 600;
  flex: 1;

}

.head_logo>a {
  cursor: pointer;
  line-height: 1;
  font-size: 24px;
}

/* Menu Links */
.head_menu {
  flex: 4;
}

.head_menu .links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-between;
  font-size: 12px;
}

.menu-item {
  padding: 0 13px;
  font-weight: 400;
}

.menu-item a {
  position: relative;
}

.menu-item a::before {
  content: '';
  bottom: 7px;
  left: 0;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: 0.3s;
  transform: scaleX(0);
}

.menu-item a:hover:before {
  transform: scaleX(1);
}


/* Menu phone */
.head_phones {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
}













/* MAIN__SLIDER */
#resizeSlider {
  z-index: 0;
  max-height: 780px;
  height: 780px;
}


.main_sliderText{
  max-height: 780px;
    height: 780px;
  width: 100%;
  position: relative;
  text-align: left;
  vertical-align: middle;
  color: #fff;
  }

.textOverSlide {
  position: relative;
  width: 100%;
    
}
.main_sliderText .row1{
  top: 37%;
  left:10%;
  font-size: 28px;
  font-weight: 500;
  
}

.main_sliderText .row2{
  top: 40%;
  left:10%;
  font-size: 50px;
  text-transform: uppercase;
  line-height: 50px;
  font-weight: 700;

}

.main_sliderText p{
  margin: 0px;
}

.main_sliderText .row3{
  top: 43%;
  left:10%;
  font-size: 18px;
}

.main_sliderText .row4{
  top: 46%;
  left:10%;
  font-size: 12px;
}



/* БЛОК О НАС */


.main_about .wrapper{
  position: relative;
  text-align: center;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 60px 0;
}

.main_about_header{
  max-width: 55%;
}

.main_about_header h6{
  color:#7f7f7f;
  text-transform: uppercase;
  font-size: 0.8em;
    font-weight: 400;
    margin: 10px 0;
    letter-spacing: 2.4px;
    line-height: 1.5em;
    text-transform: uppercase;
    letter-spacing: 2.2px;
}

.main_about_header h2{
  font-size: 2.2em;
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: -1.4px;
}

.main_about_items{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;;
}

.about_column{
  margin: 40px 20px;
  flex: 1;
}

.about_item{
  margin: 20px 0 80px 0;
}

.main_about_items .about_item h4{
  font-size: 18px;
  letter-spacing: 0.3px;
  margin: 0;
  font-weight: 400;
}

/* БЛОК ГАЛЕРЕЯ */
.gallery{
  margin: 10px 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto

}
 
.gallery a{
    width: 20%;
}


.gallery img{
  padding: 12px;
  transition: 0.5s;
  width: 100%;
}

.gallery img:hover{
  filter: grayscale(100%);
}



@media all and (max-width: 600px) {
  .gallery{
    flex-direction: column;
    align-items: center;
  }

}























/* Footer */
footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  color: #8d8f98;
}

footer a{
  color: #8d8f98;
 }

.big_foot {
  background-color: var(--dark-color);
  padding: 60px 0;
}


.big_foot .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.big_foot .wrapper .foot_item h3 {
  font-size: 1.067em;
  font-weight: 400;
  font-style: normal;
  line-height: 1.85em;
  text-decoration: none;
  text-transform: none;
  letter-spacing: -0.16px;
  position: relative;
  padding-bottom: 20px;
  color: #fff;
}

.big_foot .wrapper .foot_item h3:after {
  content: '';
  display: block;
  border-bottom: 1px solid #3e434f;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 4.437em;
}

.contact_description {
  font-size: 14px;
  letter-spacing: -0.28px;
  line-height: 24px;
}

.contact_description img{
  width: 42px;
  margin: 8px 8px 0 0;
}

.big_foot .wrapper .foot_item p {
  margin: 15px 0 10px;
}

.big_foot .wrapper .foot_item {
  flex: 2;
  margin: 0 20px;
  }

  .big_foot .wrapper .foot_item:first-child {
    flex: 4;
  }
  
  .big_foot .wrapper .foot_item:last-child {
    flex: 3;
  }
  

  .big_foot .wrapper .foot_item li:before{
      content: '';
      display: block;
      width: 4px;
      height: 4px;
      position: relative;
      left: -12px;
      top: 15px;
      border-radius: 50%;
      background-color: #4285f4;
 }

  .big_foot .wrapper .foot_item li{
    list-style: none;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  #footer-button{
    height: 30px;

    border-radius: 10px;
    width: auto;
    background-color: #4285f4;
    color: #fff;
    padding: 0 10px 0 10px;
    }


  #footer-button:hover {
    background-color: #4285f4;
    color: #fff;
    background-color: #062a5e;
    transition: 0.5s;
  }


/* Нижний футер */
.small_foot{
  background-color: var(--super-dark-color);
  padding: 30px 15px 30px 15px;
  font-size: 0.8em;
}

.small_foot .wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.small_foot p{
  display: inline-block;
}

.scrollup{
  width: 40px;
  height: 40px;
  background-color: #4285f4;
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-align: center;
  color: #fff;
  transform: rotate(-90deg);
  cursor: pointer;

}

.scrollup p{
  margin-top: -14px; 
   font-size: 40px;
}

.scrollup:hover{
  background-color: #062a5e;
  transition: 0.5s;
}

